node_modules/*
logs/*
/yarn.lock
.env
secrets/*
/__tests__/channels-performance-test.ts
/__tests__/login.test.ts
/__tests__/README_CHANNELS_TESTING.md
/_ai_stuff/FORM_VALIDATION_AND_FILE_UPLOAD_PATTERN.md
/armonia.code-workspace
/package-lock.json
/database/base/normalizationSnapshots/
/database/normalizationSnapshots/
/_temp/
/.idea/modules.xml
/.idea/
/modules/propertyManagement/utilities/edifice/floorAndUnitsGenerator/_test/logs/application/.9df3e16bb4b34ed50fb616df0d9c1c94c43d592d-audit.json
/modules/propertyManagement/utilities/edifice/floorAndUnitsGenerator/_test/logs/application/2026-06-19.log
/modules/propertyManagement/utilities/edifice/floorAndUnitsGenerator/_test/results/
/logs/
/secrets/
